<div style="border:dashed 1px red">
<h3>Новости на главную</h3>

{% for news in newslist %}
    <div style="padding:0 0 20px 5px">
        <div><b>{{ news.title }}</b></div>
        <div>{{ news.announce }}</div>
    </div>

{% endfor %}
</div>